* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.m_left {
    margin-left: 42px !important;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#080808, rgb(54, 34, 3));
}

.container > *{
    margin: 0 8px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #fffb00;
}


.h_letter {
    display: flex;
}

.h_letter2 {
    display: flex;
    align-items: center;
}

.t_letter {
    display: flex;
}

.two_letter {
    display: flex;
}

.two_letter > * {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
