* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(#30a6dd 20%, #132235, #24f0ce);
    color: #fff;

}

/* commont */
.btn:hover {
    opacity: 1;
    cursor: pointer;
}

.btn:active {
    background-color: #0abaf0;
}

.container {
    width: 400px;
    background: rgba(22, 23, 29, 0.65);
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    padding: 32px;
    position: relative;
    animation: 0.8s fadeIn ease 0.5s;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: translateY(-100%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

.container__close {
    display: block;
    position: absolute;
    right: 32px;
    font-size: 18px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.container__title {
    margin: 16px;
}

.container__sign-in {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px 16px;
    margin-top: 8px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.02);
    opacity: 0.7;
}

.container__sign-in i {
    margin-right: 16px;
}

.container__form {
    color: #0abaf0;
    border-top: 1px solid #0abaf0;
    padding-bottom: 16px;
    border-bottom: 1px solid #0abaf0;
    margin: 20px 24px;
}

.container__form label {
    display: block;
    margin: 16px 0 8px 0;
}

.container__sign-in_info input {
    width: 100%;
    padding: 12px 40px 12px 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid #0abaf0;
    border-radius: 8px;
}

::placeholder {
    color: #0abaf0;
}

.container__sign-in_info input:focus {
    border: 1px solid #0abaf0;
    background-color: #0abaf0;
    color: #fff;
}

.container__sign-in_info {
    position: relative;
}

.container__sign-in_info i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #0abaf0;
}

.container__form span {
    display: inline-block;
    padding: 12px;
}

.container__log-in {
    width: 100%;
    padding: 14px;
    background-color: #099fcc;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
}

.container__log-in:hover {
    background-color: #0abaf0;
}

.container__forget {
    text-align: center;
    margin-top: 12px;
}

.container__footer {
    text-align: center;
}

.container__click {
    text-decoration: none;
    color: #0abaf0;
}

.container__click:active {
    color: red;
}
